html {
	background: url("../images/accueil.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* background image de la page*/


/* -----  Propriétés du Header  ---- */


/*header{
  background-color:#E0B589;
  text-align: center;
  padding:36px;
}*/

body {
	font-family: 'Poppins', sans-serif;
}


/*header h1{
    color:#F5F5F5;
}*/


/* ---- Propriétés du Menu ----*/

.menu ul {
	display: flex;
	list-style: none;
	background-color: #F2F5F5;
	margin: 0;
	padding: 7px;
	width: 98.9%;
}

.menu li :hover:not(.active) {
	background-color: #E0B589;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu .active {
	background-color: black;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu li {
	flex-grow: 1;
}

.menu li a {
	text-align: center;
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: #808080;
}


/* ---  Propriétés du Contenu (article) de la page ---- */

.contenu::after {
	color: #F5F5F5;
	content: "";
	background: url(accueil.png);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.contenu h1 {
	display: flex;
	margin-top: 60px;
	margin-left: 60px;
	width: 28%;
	background-color: #E0B589;
	padding: 11px 4px;
}

.contenu h3 {
	display: flex;
	margin-left: 60px;
	background-color: #E0B589;
	padding: 4px;
	width: 45%;
}


/*article{
  background-color:#F5F5F5;
  padding: 85px;
  background-clip:content-box;
}

article h1{
  color:black;
  text-align: center;
  padding: 4px;

}
.contenu{
  display:block;
}
div.contenu {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:25px 25px 25px 25px;
  padding-left: 350px;
  padding-right: 50px;
}


*/


/* ----  Propriétés du Footer  -----

footer{
  bottom: 0;
  background-color:black;
  display:block;
}

.sections{
  color: #808080;
  padding: 20px;
  text-decoration: underline;
  display: flex;
  justify-content: space-around;
}

.sections li{
  list-style: none;
}
.sections p{
 color: #808080;
}
*/
