html {
  background: url("../images/resto.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} /* background image de la page*/


/* -----  Propriétés du Header  ---- */
header{
  background-color:#E0B589;
  text-align: center;
  padding:56px;
}

body{
  font-family: 'Poppins', sans-serif;
}

header h1{
    color:#F5F5F5;
}

/* ---- Propriétés du Menu ----*/
.menu ul {
  display: flex;
  list-style:none;
  background-color:#F2F5F5;
  margin:0;
  padding:7px;
  width: 98.9%;
}
.menu li :hover:not(.active){
  background-color:#E0B589;
  color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu .active{
  background-color:black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .menu li{
  flex-grow: 1;
 }
 .menu li a{
  text-align: center;
  display: block;
  font-size:18px;
  text-decoration: none;
  color:#808080;
 }
/* ---  Propriétés du Contenu (article) de la page ---- */
article{
  background-color:#F5F5F5;
  padding: 85px;
  background-clip: content-box;
}

article p{
  color:#808080;
  text-align: center;
  padding: 10px;
  text-align: justify;
}
.contenu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

div.contenu {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:25px 25px 25px 25px;
}
.cours{
  display: flex;
  align-items: center;
  justify-content: center;
}

.horaires{
  border: 2px solid black;
}

img {
  display:flex;
  height: 300px;
  width: 300px;
  object-fit:cover;
}

/* ----  Propriétés du Footer  ----- */

footer{
  bottom: 0;
  background-color:black;
  display:block;
}

.sections{
  color: #808080;
  padding: 20px;
  text-decoration:none;
  display: flex;
  justify-content: space-around;
}

.sections li{
  list-style: none;
}
.sections p{
 color: #808080;
}
